.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    background-color: rgb(231, 215, 215);
}
.container .box:hover .imgBox {
    transform: translate(-1.5rem, -1.5rem);
}
.container .box:hover .content {
    
    transform: translate(0.2rem, 6.5rem);
}

.imgBox {
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition:  all 0.5s ease-in-out;
}

.imgBox img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    resize: both;
}

