.app {
    padding: 10px;
  }
  
  .circle {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .circle.sm {
    width: 30px;
    height: 30px;
  }
  
  .circle.md {
    width: 60px;
    height: 60px;
  }
  
  .circle.lg {
    width: 90px;
    height: 90px;
  }