.ppp {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.reveal {
    color: rgba(207, 189, 189, 0);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab), linear-gradient(#f6f9fa 0 0);
    background-size: 0 100%;
    background-position: 0 0;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    -webkit-box-decoration-break : clone;
    box-decoration-break: clone;
    animation: t 1.2s 0.5s both, b 1.2s 1.3s both;
}
@keyframes t {
    to {
        background-size: 150% 100%;
    }
}
@keyframes b {
    to {
        background-position: -200% 0, 0 0;
    }
}


p{
    font-size: 25px;

}
h1{
    color:  white;
    font-size: 40px;
    text-align: center;
}h1,
p{
    color:  rgb(243, 234, 217);
    background-color: transparent;
    margin: 10px auto;
    max-width: 600px;
}





/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 5 4 10px transparent; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(17, 122, 184); 
  }