
  
  .box {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    background-color: khaki;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  }
  
  .App {
    font-family: sans-serif;
    background: #1c1d1f;
    color: white;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .react-tabs {
    display: flex;
    margin-left: 36px;
    width: 470px;
    height: 400px;
    border: 1px solid #3c3e43;
    color: white;
    background: #1c1d1f;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0;
    padding: 0;
    color: white;
    background: #3c3e43;
  }
  
  .react-tabs__tab {
    height: 70px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color: #bbb;
  }
  
  .react-tabs__tab--selected {
    background: #1c1d1f;
    border-color: #1c1d1f;
    border-left: 4px solid #6eb800;
    color: white;
  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 300px;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 24px;
  }
  
  .react-tabs__tab--selected {
    padding-left: 21px;
  }
  
  .panel-content {
    text-align: center;
  }
  